<h2>Angular Assignment</h2>

<p>Want To Learn About Some Basic Angular Commands,Click On The Button</p>
<button (click)="toggle()">Display</button>
<span *ngIf="hide">
    <br>To create a new project in Angular :  ng new project-name <br>
    To get help in the terminal        :  ng help<br>
    To create a new project in Angular :  ng new project-name<br>
    To run the Angular project         : ng serve (or) npm start (or) ng serve --force<br>
    To create a build                  :   ng build
</span>
<p>The count : {{counter}}</p>

<input type="text" #content placeholder="Type Your Content">

<button (click)="fetch(content.value)">Add</button>